<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meals Menu</ion-title>
  </ion-toolbar>

  <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-button color="secondary" (click)="back()" [disabled]="isFirst()">
            <ion-icon slot="icon-only" name="arrow-back"> </ion-icon>
          </ion-button>

          <ion-title>{{selectedIndex === 2 ? 'Today\'s Menu' : '' }} {{schedule[selectedIndex].date}}</ion-title>

          <ion-button color="secondary" (click)="forward()" [disabled]="isLast()">
            <ion-icon slot="icon-only" name="arrow-forward"  ></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-card *ngFor="let meal of schedule[selectedIndex].list">
    <ion-card-header>
      <ion-card-title>{{meal.name}}</ion-card-title>
      <ion-card-subtitle> Price: ${{meal.price}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text>{{meal.description}}</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="schedule[selectedIndex].list.length === 0">
    <ion-card-content>
      This menu is empty! Add meals to this menu by logging in and pressing the blue "+" button.
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="loggedIn && selectedIndex > 1" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary" (click)="editMenu()">
      <ion-icon name="{{ schedule[selectedIndex].list.length === 0 ? 'add' : 'create'}}"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
