<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meals Menu</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="back()" [hidden]="isLast()">
        <ion-icon slot="icon-only" name="arrow-back"> </ion-icon>
      </ion-button>
      <ion-button (click)="forward()" [hidden]="isFirst()">
        <ion-icon slot="icon-only" name="arrow-forward"  ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{isFirst() ? 'Today\'s Menu' : '' }} {{schedule[selectedIndex].date}}</ion-title>

  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-card *ngFor="let menu of schedule[selectedIndex].menu">
    <ion-card-header>
      <ion-card-title>{{menu.name}}</ion-card-title>
      <ion-card-subtitle> Price: ${{menu.price}}</ion-card-subtitle>
    </ion-card-header>

    <ion-item *ngFor="let item of menu.items">
      <ion-label>{{item.name}}</ion-label>
    </ion-item>


  </ion-card>



</ion-content>
